# .env file to set up your gitlab site

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#
# General configuration
#
CODE_PATH=/path/to/code

#
# PHP Container configuration
#
CONTAINER_PHP_NAME=php

# Path to log.conf
PHP_LOG_CONF_PATH=/path/to/php/log.conf

#
# Web Container configuration
#
CONTAINER_WEB_NAME=web

# Path to site.conf
SITE_CONF_PATH=/path/to/site.conf

#
# Let's Encrypt
#

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com
